<a href="https://colab.research.google.com/github/MadeaRiggs/Regression-in-Machine-Learning/blob/main/energy_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [43]:
energy_df= pd.read_csv('/content/energydata_complete.csv')
energy_df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [44]:
#check the data types
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [45]:
#obtain general statistics
energy_df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [46]:
#check if there is any null values
energy_df.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [47]:
#R^2 value in two d.p of Celsius (x = T2) and the temperature outside the building (y = T6)

#converting the x variable into 2D array for the model
x= energy_df['T2'].values.reshape(-1, 1)
y= energy_df['T6'].values

#splitting dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x, y, test_size=0.3, random_state=42)

#fitting linear model
from sklearn.linear_model import LinearRegression
linear_model= LinearRegression()
linear_model.fit(x_train, y_train)

#calculate r2 score to 2 dp
r2_score= linear_model.score(x_test, y_test)
round(r2_score, 2)

0.64

In [48]:
# Remove columns "date" and "lights"
df = energy_df.drop(columns=["date", "lights"])

# Separate the target variable
target = df["Appliances"]
features = df.drop(columns=["Appliances"])

# Normalize the features
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_features = pd.DataFrame(scaler.fit_transform(features), columns=features.columns)

In [49]:
X_train, X_test, y_train, y_test = train_test_split(normalized_features, target, test_size=0.3, random_state=42)

linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

predicted_values = linear_model.predict(X_test)

#calculate the Mean Absolute Error to 2 dp
from sklearn.metrics import mean_absolute_error
mae= mean_absolute_error(y_test, predicted_values)
round(mae, 2)

53.64

In [50]:
#calculate the Residual Sum of Squares to 2 dp
rss= np.sum(np.square(y_test - predicted_values))
round(rss, 2)

51918501.21

In [51]:
#calculate the Root Mean Squared Error to 3 dp
from sklearn.metrics import mean_squared_error
rmse= np.sqrt(mean_squared_error(y_test, predicted_values))
round(rmse, 3)

93.64

In [52]:
#calculate coefficient of determination (R^2 score)
r2 = linear_model.score(X_test, y_test)
round(r2, 2)

0.15

In [53]:
#find the lowest and highest weights from the feature weights of the linear model
#get the feature weights
feature_weights = linear_model.coef_

#find the index of the feature with the lowest and highest weights
lowest_weight_index = np.argmin(feature_weights)
highest_weight_index = np.argmax(feature_weights)

#get the corresponding feature names
feature_names = features_df.columns
feature_with_lowest_weight = feature_names[lowest_weight_index]
feature_with_highest_weight = feature_names[highest_weight_index]

print("Feature with the lowest weight:", feature_with_lowest_weight)
print("Feature with the highest weight:", feature_with_highest_weight)

Feature with the lowest weight: T2
Feature with the highest weight: T1

In [54]:
#to find the change to the RMSE when evaluated on the test set using Ridge model alpha=0.4
from sklearn.linear_model import Ridge
ridge= Ridge(alpha=0.4)
ridge.fit(X_train, y_train)

#make predictions
ridge_predictions= ridge.predict(X_test)
new_rmse= np.sqrt(mean_squared_error(y_test, ridge_predictions))
new_rmse

93.66122703951963

In [55]:
#to find how many of the features have non-zero feature weights in Lasso model alpha=0.001
from sklearn.linear_model import Lasso
lasso= Lasso(alpha=0.001)
lasso.fit(X_train, y_train)

#to obtain the weights
lasso_weights= lasso.coef_

#count the non zero feature weights
non_zero= np.count_nonzero(lasso_weights)
non_zero

25

In [56]:
#to calculate the new rmse of Lasso model alpha=0.001 to 3 dp

#make predictions
lasso_predictions= lasso.predict(X_test)

#new rmse score
lasso_rmse= np.sqrt(mean_squared_error(y_test, lasso_predictions))
round(lasso_rmse,3)

93.641